@import url("chrome://global/skin/global.css");

sidebarheader {
    display: none;
}

#sidebar-infomaniac {
    background: white;
    font-family: "sans-serif";
    font-size: 80%;
}

label.text-link, label.text-link:visited, label.text-link:hover {
    color: #0088cc;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 4px;
}

label.text-link:hover {
    color: #005580;
}